.edit {
    padding-inline-start: 10px;
}

.formImage {
    display: flex;
    gap: 10px;
}

.meal {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 300px;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.meal label {
    margin: 0;
}

.images {
    align-items: center;
    width: 500px;
    height: 400px;
}

.images img {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: contain;
}

.file {
    direction: ltr;
    width: 100%;
    max-width: 500px;
    height: 300px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: black;
}

[name='mealEditSlide'] {
    display: none;
}

.show {
    display: block;
}

.prevNext {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.prev,
.next,
.deleteImg {
    background: none;
    background-color: rgb(238, 96, 96);
    border: none;
    cursor: pointer;
    width: auto;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /* transition: 0.6s ease; */
    border-radius: 3px 0 0 3px;
}

.next {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgb(233, 68, 68);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110px;
    margin-top: 10px;
}

.btn {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 14px;
    width: 120px;
}

.btn:hover {
    background-color: rgb(233, 68, 68);
}

label.btn {
    width: 160px;
    color: black;
}