.edit {
    padding-inline-start: 10px;
}

.meal {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 300px;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.meal label {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110px;
    margin-top: 10px;
}

.btn {
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 14px;
    width: 120px;
}

.btn:hover {
    background-color: rgb(233, 68, 68);
}

label.btn {
    width: 160px;
    color: black;
}