.calculatorDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.zeroButton {
  background-color: rgba(206, 191, 191, 0.479);
  color: black;
  border: 2px solid #e92b2b3a; /* red */
  font-size: 40px;
  border-radius: 12px;
  width: 116px;
  margin: 8px;
}
.firstLine {
  background-color: rgba(206, 191, 191, 0.479);
  color: black;
  border: 2px solid #e92b2b3a; /* red */
  font-size: 40px;
  border-radius: 12px;
  width: 50px;
  margin: 8px;
}
.secondLine {
  background-color: rgba(206, 191, 191, 0.479);
  color: black;
  border: 2px solid #e92b2b3a; /* red */
  font-size: 40px;
  border-radius: 12px;
  width: 50px;
  margin: 8px;
}
.thirdLine {
  background-color: rgba(206, 191, 191, 0.479);
  color: black;
  border: 2px solid #e92b2b3a; /* red */
  font-size: 40px;
  border-radius: 12px;
  width: 50px;
  margin: 8px;
}
.submitButton {
  background-color: rgba(114, 216, 55, 0.452);
  color: black;
  border: 2px solid #e92b2b3a; /* red */
  font-size: 40px;
  border-radius: 12px;
  width: 50px;
  margin: 8px;
}
.screenInpt {
  width: 190px;
  height: 30px;
}
