.hide {
  /*display: none;*/
  visibility: hidden;
}
.numberTen:hover + .hide {
  display: block;
}
.meatMap {
  text-align: center;
  color: white;
}
.beefImage {
  width: 600px;
  height: 390px;
  background-color: rgba(255, 255, 255, 0.35);
}
