.sideMeal {
    padding-inline-start: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 45vw 45vw;
    gap: 10px;
}

.continer {
    color: black;
    background-color: rgba(255, 255, 255, 0.35);
    padding-inline-start: 10px;
    padding-bottom: 10px;
}

.sideMeal img {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: contain;
}

.images {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

[name='sideMealSlide'] {
    display: none;
}

.show {
    display: block;
}

.prevNext {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.prev,
.next {
    background: none;
    background-color: rgb(238, 96, 96);
    border: none;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /* transition: 0.6s ease; */
    border-radius: 3px 0 0 3px;
}

.next {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgb(233, 68, 68);
}

.btn {
    margin-inline-end: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    background-color: rgb(233, 68, 68);
}