.hide {
    visibility: hidden;
}

.numberTen:hover+.hide {
    display: block;
}

.meatMap {
    max-width: 600px;
    height: 400px;
    margin: auto;
}

.chickenPhone {
    display: none;
    padding: 5px;
    direction: rtl;
    text-align: right;
}

.chickenPhone h3 {
    margin: 0;
}

.chickenPhone div {
    margin-bottom: 10px;
}

@media (max-width: 330px) {
    .chickenImage {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .meatMap {
        width: 100%;
    }
    .desc {
        display: none;
        color: tomato;
    }
    .name {
        display: none;
        color: tomato;
    }
    .chickenPhone {
        display: block;
    }
}