.hide {
  /*display: none;*/
  visibility: hidden;
}

.numberTen:hover + .hide {
  display: block;
}

.meatMap {
  /*text-align: center;
  color: white;

  background-color: rgba(245, 158, 158, 0.116);
}

.chickenImage {
  /*width: 600px;
  height: 390px;*/
  /*background-color: rgba(219, 25, 25, 0.151);*/
  margin: auto;
  width: 350px;
  height: 400px;
}
