.container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sideMeals input,
label {
    margin-inline-start: 10px;
}

.preview {
    width: 350px;
    color: black;
    padding-inline-start: 5px;
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, 0.35);
}

.add {
    margin-inline-start: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.35);
}