.edit {
    padding-inline-start: 10px;
}

.sideMeal {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 165px 300px;
    gap: 10px;
}

.sideMeal label {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110px;
    margin-top: 10px;
}