.container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.preview {
  width: 350px;
  padding-inline-start: 5px;
  border: 1px solid black;
}
.add {
  margin-inline-start: 5px;
  padding: 5px;
}
