.review {
    padding: 10px;
    margin: 5px auto;
    width: 75%;
    background-color: rgb(7 10 13 / 71%);
    border-radius: 40px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.reviewName {
    display: flex;
    padding-inline-start: 5px;
}

.reviewComment {
    display: flex;
    padding-inline-start: 5px;
    gap: 10px;
}

.review h3,
h4,
p {
    margin: 0;
}

.author {
    /* color: black; */
}

.grid {}

.grid input:nth-child(2) {
    width: 50%;
}

.grid input {
    border: none;
    margin-inline-end: 10px;
    border-radius: 10px;
    padding: 5px;
}

.btn {
    margin-inline-end: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 14px;
}

.deleteBtn {
    padding: 5px;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 12px;
}

.btn:hover,
.deleteBtn:hover {
    background-color: rgb(233, 68, 68);
}