.parts {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    color: white;
    text-align: center;
    background-color: rgba(223, 223, 223, 0.089);
}

.parts label {
    margin: 0;
}

.parts select {
    width: 80px;
    margin-inline-start: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}