.hide {
    visibility: hidden;
}

.numberTen:hover+.hide {
    display: block;
}

.meatMap {}

.lambImage {
    width: 450px;
    height: 400px;
    margin: auto;
}

.lambPhone {
    display: none;
    padding: 5px;
    direction: rtl;
    text-align: right;
}

.lambPhone h3 {
    margin: 0;
}

.lambPhone div {
    margin-bottom: 10px;
}

@media (max-width: 450px) {
    .lambImage {
        width: 100%;
        height: 50vh;
    }
}

@media (max-width: 600px) {
    .meatMap {
        width: 100%;
        height: 50%;
    }
    .desc {
        display: none;
        color: tomato;
    }
    .name {
        display: none;
        color: tomato;
    }
    .lambPhone {
        display: block;
    }
}