@import './cmp/SideMeals/sideMeals.module.css';
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
    margin: 0;
}


/* header / navbar */

.app-header {
    margin-bottom: 10px;
}

.nav-links a {
    padding-right: 10px;
}

.logo {
    height: 50px;
}


/*sideMeals*/

.sideMeals-container {
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sideMeal-preview {
    width: 300px;
    padding-left: 5px;
    border: 1px solid black;
}