.header {
  margin-bottom: 10px;
  display: flex;
  background: rgb(63, 61, 61);
  height: 50px;
}

.links {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-inline-end: 10px;
  align-items: center;
}

.links a {
  color: white;
}

.logo {
  height: 50px;
  padding-right: 10px;
}
