.header {
  margin-bottom: 0px;
  display: flex;
  background-color: rgba(141, 135, 135, 0.63);
  height: 50px;
}

.links {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-inline-end: 10px;
  align-items: center;
}

.links a {
  color: white;
}

.logOut {
  cursor: pointer;
}

.logo {
  height: 50px;
  padding-right: 10px;
}
