.meal {
    padding-inline-start: 10px;
}

.btn {
    margin-inline-end: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    background-color: rgb(233, 68, 68);
}