.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Style the links inside the sidenav */

#mySidenav a {
    position: absolute;
    /* Position them relative to the browser window */
    left: -80px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
}

.chatBotButton:hover {
    left: 20px;
    background-color: rgba(245, 175, 142, 0.5);
    border: 1px solid black;
    /* On mouse-over, make the elements appear as they should */
}

.chatBotButton {
    z-index: 1;
    text-align: right;
    border-radius: 15px;
    border: 1px solid rgba(248, 203, 189, 0.4);
    position: fixed;
    cursor: pointer;
    /* Position them relative to the browser window */
    bottom: 2px;
    left: 1px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    font-weight: bold;
    /* Increase font size */
    color: rgb(20, 17, 17);
    /* White text color */
    background-color: rgba(236, 231, 231, 0.582);
}

.rsc {
    position: fixed;
    left: 5px;
    bottom: 60px;
    z-index: 1;
}

@media (max-width: 600px) {
    .rsc {
        left: 0;
        width: 100%;
    }
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    /* display: none; */
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s;
}

body.open .screen {
    pointer-events: auto;
    opacity: 1;
}

body.open [name='recMeals'],
body.open [name='add'],
body.open [name='recSideMeals'] {
    z-index: -2;
}

body.open .chatBotButton,
body.open .rsc {
    z-index: -1;
}