.meatAddContiner {
    padding-inline-start: 10px;
}

.meatAddContiner h2 {
    margin: 0;
    padding-inline-start: 10px;
    padding-bottom: 5px;
}

.meatSelect {
    width: 300px;
}

.meat {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 10px;
}

.meat input,
select,
textarea {
    margin: 0;
    width: 100%;
}

.btn {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 96, 96);
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    background-color: rgb(233, 68, 68);
}